:root {
  --main-font: "Source Sans Pro", sans-serif;
  --main-color: #4845d2;
  --secondary-font: "Poppins", sans-serif;
  --secondary-color: white;
}

html {
    font-size: 62.5%;
}

#contact-page {
  width: 100vw;
  height: 100vh;
  margin: auto;
  color: var(--main-color);
  background-color: black;
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 500;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.form-container {
    text-align: center;
}

.form-label {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    display: flex;
    margin: 1rem 1rem 1rem 1.5rem;
}

.submit-button {
    font-family: var(--secondary-font);
    border: none;
    border-radius: 1rem;
    padding: 1rem 3rem;
    color: var(--main-color);
    font-size: 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

input[type=text], textarea {
    width: 90%;
    margin: auto;
    border: none;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none
}

/* Media query */
@media screen and (min-width: 768px) {
  .form-label {
    margin: 1rem 1rem 1rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .form-label {
    margin: 1rem 1rem 1rem 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .contact-title {
    font-size: 4rem;
  }

  .form-label {
    margin: 1rem 1rem 1rem 6rem;
    font-size: 3rem;
  }

  .submit-button {
    font-size: 3rem;
  }

  input[type=text], textarea {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 2560px) {
  .contact-title {
    font-size: 8rem;
  }

  .form-label {
    margin: 1rem 1rem 1rem 12rem;
    font-size: 6rem;
  }

  .submit-button {
    font-size: 6rem;
  }

  input[type=text], textarea {
    font-size: 4rem;
  }
}